---
import BaseHead from "../components/BaseHead.astro";
import { Footer } from "../components/Footer";
import { Profile } from "../components/Profile";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { themeClass } from "../styles/atom.css";
import GlobalStyles from "../components/GlobalStyles.astro";
import { LatestArticle } from "../components/LatestArticle";
import { Header } from "../components/Header";
import { Layout } from "../layouts";
import { PostList } from "../components/PostList";
import { Tag } from "../components/Tag";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <GlobalStyles />
  </head>
  <body class={themeClass}>
    <Header />
    <Layout>
      <Tag>
        <Tag.Item />
        <Tag.Item />
        <Tag.Item />
      </Tag>
      <!-- <Header /> -->

      <!-- <h1 class="title">{SITE_TITLE}</h1> -->
      <LatestArticle />
      <PostList />
      <div></div>
      <Footer />
    </Layout>
  </body>
</html>
